{% extends "blog/wrapper.html" %}

{% block main %}
    {% for post in object_list %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta">Category: {{ post.category.name }}</p>
            <p class="blog-post-meta">by {{ post.user.username }}</p>
            <p class="blog-post-meta">created on {{ post.created_on }}</p>
            <p class="blog-post-meta">updated on {{ post.updated_on }}</p>
            <p>{{ post.content }}</p>
            <hr>
        </div>
    {% endfor %}

    <script>
        function htmlToElement(html) {
            var template = document.createElement('template');
            html = html.trim();
            template.innerHTML = html;
            return template.content.firstChild;
        }

        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/blog/');

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var post_id = data['post_id'];
            fetch('/posts/' + post_id).then(function (response) {
                return response.json();
            }).then(function (post) {
                console.log(post);

                var postMarkup = `
                    <div class="blog-post">
                        <h2 class="blog-post-title">${post.title}</h2>
                        <p class="blog-post-meta">Category: ${post.category_repr.name}</p>
                        <p class="blog-post-meta">by ${post.user_repr.username}</p>
                        <p class="blog-post-meta">created on ${new Date(post.created_on).toLocaleString()}</p>
                        <p class="blog-post-meta">updated on ${new Date(post.updated_on).toLocaleString()}</p>
                        <p>${post.content}</p>
                        <hr>
                    </div>
                `;

                var firstPost = document.querySelectorAll('.blog-post')[0];
                firstPost.parentNode.insertBefore(
                    htmlToElement(postMarkup),
                    firstPost
                );
            });
        };

        chatSocket.onclose = function(e) {
            console.error("Chat socket closed!");
        };
    </script>

{% endblock %}
