<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
    <ul>
        {% for task in tasks %}
        <li>
            <input type="checkbox"
                   {% if task.ckeched %} checked
                   {% endif %}
            >
            <a href="/tasks/{{task.id}}">{{task.text}}</a>
        </li>
        {% endfor %}
    </ul>

    <form method="post" action="/tasks/create">
        {% csrf_token %}
        <!--<input type="checkbox", name="checked"/>-->
        <!--<input type="text", name="text"/>-->
        <!--<button type="submit">-->
            <!--Save-->
        <!--</button>-->

        <!--{{form.as_p}}-->
        {%for field in form%} <!--итерируемся по объектам формы-->
            <div class="wrapper">
                {{field.label_tag}}
                {{field}}
                <!--{{field.errors}}-->
                <ul class="cls">
                    {% for error in fiels.errors%}
                    <li class="...">
                        {{error | escape}}
                    </li>
                    {%endfor%}
                </ul>
            </div>
        {%endfor%}

        <!--<label for="{{form.text.id_for_label}}"></label>-->
        <!--<input id="{{form.text.id_for_label}}" value="{{form.text.value}}"-->
               <!--{% if form.text.field.max_length %} maxlength="{{form.text.field.max_length}}" {% endif %} name="{{form.text.html_name}}">-->

        <!--{% if field.name == "checked" %}-->
        <!--pp-->
        <!--{% else %}-->
        <!--ss-->
        <!--{% endif %}-->

        <!--{% for hidden_field in form.hidden_fields %}-->
        <!--{% endfor %}-->

        <!--{{form.text}}-->
        <button type="submit">Submit</button>
    </form>



</body>
</html>